@using MathWeb.Data;
@{
    ViewData["Title"] = "Task page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MathWeb.Models.TaskMath
@ViewBag.Message
<h1>your</h1>
@ViewBag.Your
<h2>right</h2>
@ViewBag.Right