@using MathWeb.Data;
@model TaskMath

<h1>You Succesfully deleted your task!</h1>
<div>
    <a class="btn btn-primary btn-lg active" style="width:200px" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>