@model MathWeb.Models.TaskMath

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.ShortDesc</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="NameOfTask" class="control-label"></label>
                <textarea asp-for="NameOfTask" class="form-control" style="width:450px; height:350px"></textarea>
                <span asp-validation-for="NameOfTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc" class="control-label"></label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label">Topic</label>
                <input asp-for="Topic" class="form-control" list="Users" />
                <datalist id="Users">
                    <option value="Algebra" />
                    <option value="Geometry" />
                    <option value="Trigonometry" />
                </datalist>
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoMade" class="control-label">Owner</label>
                <input asp-for="WhoMade" class="form-control" list="Users" />
                <datalist id="Users">
                    <option value="@User.Identity.Name" />
                </datalist>
                <span asp-validation-for="WhoMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save changes" style="width:auto" class="btn btn-primary" />
            </div>
            @ViewBag.message
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
