@{
    ViewData["Title"] = "Login page";
}
<h1>
    Please select a social network to login
</h1>
<h2>
    <p><a asp-area="" class="btn btn-outline-primary" style="width:350px" asp-controller="Account" asp-action="LoginWithGoogle">Login With Google</a></p>
</h2>
<h3>
    <p><a asp-area="" class="btn btn-outline-primary" style="width:350px" asp-controller="Account" asp-action="LoginWithFacebook">Login With Facebook</a></p>
</h3>


